<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097214887682-gb65dp6tgi5qigcqea2338gpqggo8pvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097214887682-gb65dp6tgi5qigcqea2338gpqggo8pvp</string>
	<key>API_KEY</key>
	<string>AIzaSyC06ori3CNuXYQ_1t0TzdtAtJX9-c2mK1A</string>
	<key>GCM_SENDER_ID</key>
	<string>1097214887682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ntu.iagents.emschenn</string>
	<key>PROJECT_ID</key>
	<string>thesis-e15eb</string>
	<key>STORAGE_BUCKET</key>
	<string>thesis-e15eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097214887682:ios:623ca4e996ac630f39e41b</string>
	<key>DATABASE_URL</key>
	<string>https://thesis-e15eb-default-rtdb.firebaseio.com</string>
</dict>
</plist>